/* ---------------------------------------------------------------------------------------------------- */
/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(http://fonts.googleapis.com/css?family=Exo+2:400, 200, 200italic);

            body {
                background: #FFF;                
                width: 100%;
                font-family:'Exo 2', sans-serif;
            }

            h1{
                text-align: center;
            }
            #chart_placeholder {
                text-align: center;
                margin: 20px 20px 20px 0px;
                color:#fff;
                position: absolute;
                height: 100%;
                width: 900px;
            }

            #Bar_label{
                width: 650px;
                text-align: center;
                float: left;
            }

            #Chord_label{
                width: 650px;
                text-align: center;
                float: left;
            }

            #bar_chart{
             text-align: center;
             margin: 20px 20px 20px 0px;
                color:#fff;
                float: right;
                
            }

            #label{
                     text-align: center;
             margin: 20px 20px 20px 0px;
                color:#fff;
                float: right;
                
            }
            }
            .labeltext {
                color: #232;
            }
            #circle circle {
                fill: none;
                pointer-events: all;
            }

            path.chord {
                transition: opacity 0.3s;
            }

            #circle:hover path.fade {
                opacity: 0;
            }
            a {
                text-decoration: none;
                color: #999;
            }


            text {
                font-size: 13px;
                fill: #000;
            }
            svg {
                font-size: 9px;
                color: #999;
                font-family:'Exo 2', sans-serif;
                min-height: 100%;
                min-width: 100%;
            }

            button:disabled {
                color:red;
                background-color: lightyellow;
            }
            }